## VGA Outputs
set_io hsync 26
set_io vsync 27
set_io red[0] 36
set_io red[1] 37
set_io red[2] 40
set_io green[0] 29
set_io green[1] 30
set_io green[2] 33
set_io blue[0] 28
set_io blue[1] 41
set_io blue[2] 42
## Clock
set_io clk 15
## Switches
set_io switch1 51
set_io switch2 52
set_io switch3 53
set_io switch4 54
## 7 segment displays
set_io o_Segment1[0] 3
set_io o_Segment1[1] 4
set_io o_Segment1[2] 93
set_io o_Segment1[3] 91
set_io o_Segment1[4] 90
set_io o_Segment1[5] 1
set_io o_Segment1[6] 2

set_io o_Segment2[0] 100
set_io o_Segment2[1] 99
set_io o_Segment2[2] 97
set_io o_Segment2[3] 95
set_io o_Segment2[4] 94
set_io o_Segment2[5] 8
set_io o_Segment2[6] 96